.dropdownSection{
    width:92%;
    padding: 4% 4% 0 4%;
    border: none;

    .dropdown {
        background-color: white;
        border: none;
    }

    #lastUpdate{
        text-align: center;
        color: #151517;
        font-size: 13px;
        font-weight: 600;
        padding: 0;
        margin: 3%;
    }
}