@import '../../../styles/mixins';

.dropdownSection{
    @include flex($wrap:wrap,$direction:row);
    width:92%;
    padding: 4% 4% 0 4%;
    border: none;

    .dropdown {
        background-color: white;
        border: none;
        width: 100%;
    }

    #lastUpdate{
        text-align: center;
        color: #151517;
        font-size: 13px;
        font-weight: 600;
        padding: 0;
        margin: 3%;
        width: 100%;
    }
}