@import '../../../styles/mixins';
.logosContainer {
    @include flex($wrap:wrap, $justify:space-around);
    width:85%;
    margin: 0 8%;
    padding: 10px 5px;
    background-color: white;
    border-radius: 5px;
}

.logoItem {
    min-width: 100px;
    width:8%;
}