@import '../../styles/mixins';

#trackerGlobalPage {
    @include flex($align:center, $justify:start);
}

.trackerOutlet {
    margin-left: 49px;
    background-color: #F4F6FA;
    min-height: 100vh;
    height: 100%;

    @media screen and (min-width:768px){
        margin-left: 419px;
    }
}

