@use "./variables" as var;

// ---------- BUTTONS ----------

@mixin roundBtn($bgColor) {
    color: white !important;
    padding: 0 6ch !important;
    border-radius: 24px !important;
    background-color: $bgColor !important;
    height: 48px !important;
}

@mixin squareBtn($bgColor, $color) {
    border-radius: 4px !important;
    padding: 0 4ch !important;
    background-color: $bgColor !important;
    color: $color !important;
    height: 48px !important;
}

// --------- Fixed buttons -------

@mixin flexCenter(){
    display: flex;
    align-items: center;
    justify-content: center;
}

//----------Tracker------------

@mixin countryCardData(){
    font-size: 25px;
    font-weight: bold;
    margin:8px;
}