@import '../../../styles/mixins';
@import '../../../styles/variables';

.tab{
    background-color: white;
    width: fit-content;
    padding: 0 20px;
    @include flex($gap:10px);
    font-weight: 500;
    border-radius: 5px;

    .flagCircle{
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

}

.tab:hover{
    background-color: $primaryBtn;
    color: white;
}

#selected{
    background-color: $primaryBtn;
    color: white;
}