@import '../../../styles/mixins';


.footerComponent{
    @include flex($direction: column);
    width: 15%;
    padding: 30px 0;
}

.footerTitleOption{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.footerDetail{
    font-size: 15px;
    font-weight: 600;
    color: #9a9fad
}