@use "../../styles/variables" as v;
@use "../../styles/mixins" as *;

.landingHeader {
    background-image: linear-gradient(v.$gradientTop, v.$gradientBottom);
    padding-bottom: 48px;
}

.fixedButtonsBox {
    display: none !important;
}

.logosSection {
    height: 0;
    @include flex();
}

.landingBanner {
    padding-left: 16px;
    padding-right: 16px;
}

.landingFirstSection {
    background-color: v.$mainBg;
    padding-top: 168px;

    > p, > h2 {
        color: white;
        text-align: center;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    > h2 {
        font-size: 3em;
    }
    .cardContainer {
        height: auto;
        padding-top: 48px;
        padding-bottom: 48px;
    }

}

.landingSecondSection {
    background-color: v.$mainBg;
    padding-bottom: 148px;
}



.footerContainer {
    width: initial !important;

    .footerLogoContainer {
        max-width: 428px;
        width: 100%;
        margin-right: 0 !important;
    
        .footerLogoText {
            width: 90%;
        }
    }
}

@media only screen and (min-width: 674px) {
    .fixedButtonsBox {
        display: flex !important;
    }
}