@import '../../../styles/mixins';
@import '../../../styles/variables';

.sidebarGlobalCard{
    width: 25%;
    border: 1px solid transparent;
    padding: 0 15px;
    margin-bottom: 15px;
      
}

.sidebarGlobalTitle{
    font-size: 15px;
    font-weight: 600;
    color: $mainBg;
}


.sidebarGlobalNumber{
    font-size: 27px;
    font-weight: 700;
}