@import '../../../styles/mixins';
@import '../../../styles/variables';

#tabs{
    @include flex($align:flex-start, $justify:flex-start, $wrap:wrap, $direction: column, $gap:0);
    background-color: #F4F6FA;
    height: 100%;

    #tabsTitle{
        font-size: 22px;
        font-weight: 700;
        color: $secondaryBtn;
        padding: 5px  0 0 5%;
    }

    hr {
        border: none;
        width: 90%;
        background-color: rgb(223, 223, 223);
        height: 1px;
    }

    @media screen and (min-width:768px){
        width: 100%;
    }

    .cardAtom{
        max-width: 300px;
    }

    .countryCardsContainer {
        @include flex($wrap:wrap, $gap:20px,$justify:start);
        width:90%;
        height: auto;
        padding: 20px 5%;
        
    }

    @media screen and (min-width:1000px){
        .cardAtom p {
            font-size: 35px;
        }
        .cardAtom {
            height: 120px;
        }
        .countryCardTitle {
            font-size: 20px;
        }
    }
    
}